table,th,td {
        border: 1px solid black;
        border-collapse: collapse;
      }

h1 {
        text-align: center;
        color: rgb(28, 28, 94);
    }

body {
        background-color: rgb(190, 231, 193);
        margin-left: 300px;
        margin-right: 300px;
        font-size: xx-large;  
    }