h2 {
    text-align: center;
    text-shadow: 2px 3px 1px rgb(16, 63, 134)
}

form
{
   text-align: right;
   justify-content: center;
   border-color: azure;
   margin:4em;
   display: flexbox;
}
body {
    background-color: rgb(158, 189, 224);
    margin-left: 600px;
    margin-right: 500px;
    font-size: xx-large;
    border-color: azure;

}

#save {
    font-size: x-large;
    padding: 10px;
    background-color: blue;
    color: white
}

#reset {
    font-size: x-large;
    padding: 10px;
    background-color: blue;
    color: white
}

.check {
    transform : scale(2);
}

.radio{
    width: 2em; 
    height: 2em;
}