
    h1 {
        text-align: center;
        text-shadow: 2px 3px 1px rgb(16, 63, 134);
        font-style: italic;
        font-size: 250%;
    }

    body {
        background-color: rgb(126, 196, 149);
        margin-left: 500px;
        margin-right: 500px;
        text-transform: uppercase;
        font-size: large;
        border-style: double;
        border-color: azure;
        padding : 220px;
        
    }

    .submit{
        background-color: aqua;
        text-transform: uppercase;
        text-align: center;
        padding: 20px;
        font: message-box;
    } 

