h1 {
    text-align: center;
    text-shadow: 2px 3px 1px rgb(16, 63, 134);
    font-style: italic;
    font-size: 250%;
}

body {
    background-color: teal;
    margin-left: 500px;
    margin-right: 500px;
    text-transform: uppercase;
    font-size: large;
    padding : 220px;
    
}
div{
    font-size: x-large;
}

p{
    font-size: larger;
}
.check{
    background-color: rgb(55, 0, 255);
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    font: message-box;
}   
#luckyno{
    padding:10px;
    font-size: larger;
}