* {
    box-sizing: border-box;
}

.calculator {
    max-width: 330px;
    background: rgb(238, 238, 238);
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 20px;
}

.display-box {
    font-family: serif;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    font-size: 3em;
    border: 50px;
    padding: 0.4em;
    text-align: right;
    width: 100%;
    height: 100px;
}

.span-2 {
    grid-column: span 2;
}

.span-3 {
    grid-column: span 3;
}

.btn {
    font-size: 2em;
    height: 80px;
    border: 1px solid rgb(52, 54, 182);
}

.btn:hover {
    background: #fff;
}

.teal {
    background-color: teal;
}