h1{
    text-align: center;
    color: rgb(13, 107, 5);
    font-size: 3.5em;
    text-transform: uppercase;
}

form
{
   text-align: left;
   justify-content: center;
   border-style: double;
   border-color: azure;
   margin:4em;
   padding:4em;
   height: 15em;
   display: flex;
   background-color: whitesmoke;
}

td{
    font-size: xx-large;
}

#getempid, #getempname, #getdesignation, #getworkhours{
    height: 30px; 
    font-size: large;
    font: 20px;
}

#save, #submit,#reset {
    font-size: x-large;
    padding: .5em;
    background-color: rgb(84, 84, 121);
    color: white;
}

#display{
font-size: xx-large;
text-align: center;
padding: 10px;
}