h1 {
    text-align: center;
    text-shadow: 2px 3px 1px rgb(131, 148, 173);
}

body {
    background-color: white;
    margin:auto;
    text-transform: uppercase;
    width: 50%;
}

.green {
    background-color: rgba(25, 218, 25, 0.4);
    padding: 50px;
    margin-bottom: 30px;
    margin-right: 90px;
}

.column {
    background-color: white;
    padding: 20px;
    padding-top: 20px;
    margin: 20px;
}

.row {
    position: relative;
    width: 100%;
}

#red-yellow-blue {
    position: relative;
    width: 100%;
}

#red-yellow {
    width: 67%;
}

.yellow {
    background-color: rgba(235, 235, 22, 0.4);
    margin-right: 30px;
    padding: 30px;
    padding-bottom: 100px;
    width: 33.3%;
}

.red {
    background-color: rgba(209, 37, 37, 0.4);
    padding: 30px;
    padding-bottom: 100px;
    left: 5px;
    width: 33.3%;
}

#blue {
    background-color: rgba(5, 84, 148, 0.4);
    width: 25%;
    padding: 20px;
    position: relative;
    right: 70px;
    padding-bottom: 430px;
}

.orange {
    background-color: rgb(247, 163, 8, 0.6);
    margin-top: 30px;
    padding: 50px;
    width: 74%;
}

div {
    float: left;
}