h1 {
    text-align: center;
    text-shadow: 2px 3px 1px rgb(131, 148, 173);
}

body {
    background-color: white;
    margin-left: 500px;
    margin-right: 500px;
    text-transform: uppercase;
}

.column {
    background-color: white;
    padding: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 25px;
}

.row {
    display: flex;
    width: 100%;
}

.green {
    background-color: rgba(25, 218, 25, 0.4);
    padding: 20px;
    padding-right: 20px;
    padding-bottom: 90px;
    margin-bottom: 30px;
}

.flex-container {
    display: flex;
}

.yellow {
    background-color: rgba(235, 235, 22, 0.4);
    margin-right: 30px;
    padding: 20px;
    padding-bottom: 100px;
    width: 33%;
}

.red {
    background-color: rgba(209, 37, 37, 0.4);
    margin-right: 30px;
    padding: 20px;
    width: 33%;
    padding-top: 20px;
}

.blue {
    background-color: rgba(5, 84, 148, 0.4);
    width: 33%;
    padding: 20px;
    height: 130%;
}

.orange {
    background-color: rgb(247, 163, 8, 0.6);
    margin-top: 30px;
    padding: 0px;
    width: 66%;
    padding-top: 20px;
    padding-bottom: 100px;
}

div {
    float: left;
}