h1 {
    text-align: center;
    text-shadow: 2px 3px 1px rgb(95, 153, 240);
}

body {
    background-color: rgb(214, 105, 129, 0.4);
    text-transform: uppercase;
    /* margin-left: 500px;
    margin-right: 500px; */
    align-items: center;
    color: whitesmoke;
    font-family: sans-serif;
}

h2 {
    text-align: center;
}

#header {
    background-color: rgb(23, 223, 223, 0.6);
    flex-basis: 100%;
    padding: 10px;
    margin-bottom: 30px;
}

#aside {
    background-color: rgb(13, 182, 182);
    flex: 2;
    flex-basis: 15%;
    margin-right: 30px;
    padding: 100px;
    text-align: center;
}

#center {
    padding-top: 100px;
}

#article {
    background-color: rgba(235, 13, 13, 0.4);
    flex: 1;
    flex-basis: 85%;
    padding: 60px;

}

.flex-container {
    display: flex;
    height: 500px;
    align-content: center;
}

@media (max-width: 1500px) {
    .flex-container {
        flex-direction: column;
    }
}

.img {
    display: inline;
    padding-right: 50px;
}

#footer {
    background-color: rgb(23, 223, 223, 0.6);
    padding: 10px;
    margin-top: 30px;
}

#img-container {
    position: absolute;
    margin-top: 150px;
}