*{
    box-sizing: border-box;
}

h1 {
    text-align: center;
    text-shadow: 2px 3px 1px rgb(131, 148, 173);
}

body {
    background-color: white;
    text-transform: uppercase;
}

.flex-container{
    display: flex;
    width: 75%;
    gap:2rem;
    margin: 2rem auto;
    flex-wrap:wrap;
}

.container{
    display: flex;
    flex-basis: 65%;
    gap: 2rem;
    flex-wrap: wrap;
}

.color{
    padding: 2rem 2rem;
    flex: 1;
}

.color > div {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
}

.color>div>div{
    background-color: white;
    padding: 1rem 1rem;
    flex-basis: 30%;
    margin-left: 1rem;
}

#green{
    background-color: rgb(121, 212, 182);
    flex-basis: 100%;
}

#yellow{
    background-color: rgb(245, 245, 129);
}

#red{
    background-color: rgb(228, 145, 162);
}
#blue{
    background-color: rgb(95, 209, 209);
}

#orange{
    background-color: rgb(243, 192, 96);
    flex-basis: 100%;
}
