  
  a {
    color: green;
    text-align: center;
  }

  h2,h3 {
    text-align: center; 
    color: rgb(43, 43, 156); 
  }

h2.black {
  color: rgb(194, 60, 235);
  font-size: xx-large;
  text-transform: capitalize;
}

p.red {
  background-color: rgb(100, 164, 236);
  color: black;
}

p.green {
  background-color: rgb(107, 202, 107);
  color: white;
}

h2{
  font-size: larger;
}

h1 {
    text-shadow: 2px 2px 4px rgb(10, 2, 59), -2px -2px 4px black;
    color: wheat;
    text-align: center; 
  }

  fieldset {
    background-color: lightblue;
  }
  ul {
    text-align: center;
  }

  table {
    text-align: left;
    margin: 0 auto;  
  }

  td {
    vertical-align: middle;
  }
  
  .container {
  width: 500px;
  height: 200px;
  margin: auto;
  text-align: center;
  width: 80vw;
}

div.container {
  text-align: center;
}

ul.myUL {
  display: inline-block;
  text-align: left;
}

p {
  text-indent: 50px;
}
li::before {
  content: "\1F60A";
  display: inline-block;
  margin-right: 5px;
}
body {
  width: 100vw;
}
input:focus {
  background-color: teal;
}
textarea:focus {
  background-color: rgb(74, 202, 202);
}
a:visited {
  color: purple;
}

