h1 {
    text-align: center;
    text-shadow: 2px 3px 1px rgb(73, 125, 202);
    font-style: italic;
    font-size: 250%;
}

body {
    background-color: rgb(126, 196, 149);
    margin-left: 400px;
    margin-right: 400px;
    text-transform: uppercase;
    border-style: double;
    border-color: #d8e2e2;
    padding : 250px;
    
}

div{
    font-size: x-large;
}
    
#luckyno{
    font-size: larger;
}
#checkButton{
    padding: 10px;
    font-size: larger;
    background-color: rgb(65, 65, 230);
}